@import url("https://fonts.googleapis.com/css?family=Montserrat");
.main .main__btn--gen, .main .main__result .main__btn--copy {
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 10px;
  transition: background-color .3s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #468966;
  color: #fff;
  font-family: 'Montserrat', sans-serif; }

.header {
  background-color: #35674d;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 5px;
  font-size: 2rem;
  border-bottom: 2px solid #BFBFBF; }

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0;
  margin: 0 10%;
  margin-top: 5vh; }
  .main .main__header {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 20px;
    text-decoration: underline; }
  .main .main__label--passlength {
    grid-column: 1 / -1; }
  .main .main__range {
    grid-column: 1 / -1; }
  .main .main__label {
    grid-column: 1 / 4; }
  .main .main__checkbox {
    grid-column: 4 / 5; }
  .main .main__btn--gen {
    grid-column: 2 / 4;
    margin: 20px 0 10px 0;
    background-color: #35674d; }
    .main .main__btn--gen:hover {
      cursor: pointer;
      background-color: #2c5640; }
  .main .main__result {
    grid-column: 1 / 5;
    margin-top: 10vh; }
    .main .main__result .main__btn--copy {
      background-color: #252525; }
      .main .main__result .main__btn--copy:hover {
        cursor: pointer;
        background-color: #323232; }
